*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 300px;
    width: 250px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
    margin: auto;
    margin-top: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
}

button {
    font-size: 20px;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px white;
}


#placeholder {
    height: 25px;
    width: 220px;
    border: 1px solid white;
    margin-top: 10px;
    border-radius: 10px;
    color: white;
    padding: 20px;
    
    box-shadow: 1px 1px 1px white;

}